html {background-color: rgb(238, 169, 132);}

h1 {color: rgb(174, 48, 13); font-family: cursive; text-style: italic;}
h2 {color: rgb(135, 36, 9);}

p {color: rgb(83, 21, 4);}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

p{
background: rgb(241, 203, 193);
padding: 20px;
margin: 20px;
}

button {
  background-color: rgb(174, 48, 13);
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: dotted 4px rgb(135, 36, 9);
}

button:hover {
  background-color: rgb(135, 36, 9);
}

ol {
  background: rgb(241, 203, 193);
  padding: 20px;
  margin: 20px;
  color: rgb(83, 21, 4);
}

img{border: 4px solid rgb(96, 23, 2); width: 200px;}